DB_CONNECTION=Server=.;Database=LiteCommerceDB;Trusted_Connection=True;TrustServerCertificate=True;


# connection str dùng cho docker (docker chạy tren VM nên không dùng windows auth được)
DB_CONNECTION=Server=host.docker.internal;Database=LiteCommerceDB;User Id=sa;Password=123;TrustServerCertificate=True;