<!--begin::Footer-->
<footer class="app-footer bg-body-secondary">
    <strong>
        Bản quyền &copy; 2026&nbsp;
        <a href="/" class="text-decoration-none">Trần Đức Đạt</a>.
    </strong>
</footer>
<!--end::Footer-->
