<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LiteCommerce</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <link rel="stylesheet" href="~/lib/flatpickr/flatpickr.min.css">    
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css" />    
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="layout-fixed fixed-header fixed-footer sidebar-expand-lg sidebar-open bg-body-tertiary">
    <div class="app-wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")        
        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="mb-0">@ViewBag.Title</h5>
                        </div>
                        <div class="col-sm-8">
                            <div class="input-group d-flex justify-content-end">
                                @await RenderSectionAsync("PageToolBar", required: false)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </main>
        @await Html.PartialAsync("_Footer")        
    </div>
    <button id="scrollToTop" onclick="window.scrollTo(0,0)">
        <i class="bi bi-arrow-up-circle"></i>
    </button>
    <div class="modal fade" id="dialogModal" tabindex="-1" aria-hidden="true" style="display:none;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">                
            </div>
        </div>
    </div>
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="~/lib/flatpickr/l10n/vn.js"></script>    
    <script src="~/lib/autonumeric/autonumeric.js"></script>    
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/lib/adminlte/js/adminlte.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {            
            flatpickr(".date-picker", {
                dateFormat: "d/m/Y",
                locale: "vn",
                allowInput: false
            });
            document.querySelectorAll(".money-input").forEach(element => {
                new AutoNumeric(element, {
                    digitGroupSeparator: '.',
                    decimalCharacter: ',',
                    decimalPlaces: 0,
                    unformatOnSubmit: true
                });
            });
            document.querySelectorAll(".open-modal").forEach(element => {                
                element.addEventListener("click", function (e) {                    
                    // nếu dùng ajax để render thì các open-modal sẽ không được gán sự kiện (đoạn này được thực thi khi trình duyệt tải trang => lúc đó open-modal được ajax render vẫn chưa xuất hiện)    
                    openModal(e, this); 
                });
            });
        });
        // fix ajax open modal 
        // document.addEventListener('click', function (event) {
        //     // 1. Kiểm tra xem phần tử được click (hoặc cha của nó) có class .open-modal không
        //     const toggleBtn = event.target.closest('.open-modal');
            
        //     if (toggleBtn) {
        //         event.preventDefault(); // Ngăn trình duyệt mở link mặc định
                
        //         const url = toggleBtn.getAttribute('href');
        //         const modalElement = document.getElementById('modal-container');
        //         const modalContent = document.getElementById('modal-content');

        //         // 2. Gọi AJAX bằng Fetch API (JS Thuần)
        //         fetch(url)
        //             .then(response => {
        //                 if (!response.ok) throw new Error("Network response was not ok");
        //                 return response.text();
        //             })
        //             .then(html => {
        //                 // Đẩy HTML trả về vào nội dung modal
        //                 modalContent.innerHTML = html;
                        
        //                 // 3. Hiển thị Modal bằng Bootstrap 5 JS API
        //                 const bootstrapModal = new bootstrap.Modal(modalElement);
        //                 bootstrapModal.show();
        //             })
        //             .catch(error => {
        //                 console.error('Lỗi khi tải Modal:', error);
        //                 alert("Không thể tải nội dung!");
        //             });
        //     }
        // });

    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>