<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập - LiteCommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/adminlte/css/adminlte.css" />
</head>
<body class="login-page bg-body-secondary">
    <div class="login-box">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/lib/adminlte/js/adminlte.js"></script>
</body>
</html>