@model ProductAttribute
@{
}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card card-primary card-outline">
            <div class="card-header p-2">
                <h6 class="card-title mb-0">@ViewBag.Title</h6>
            </div>
            <div class="card-body">
                <form action="~/Product/SaveAttribute" method="post">
                    <input type="hidden" asp-for="AttributeID" />
                    <input type="hidden" asp-for="ProductID" />

                    <div class="mb-3">
                        <label class="form-label">Tên thuộc tính</label>
                        <input type="text" class="form-control" asp-for="AttributeName" autofocus />
                        <span asp-validation-for="AttributeName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Giá trị thuộc tính</label>
                        <input type="text" class="form-control" asp-for="AttributeValue" />
                        <span asp-validation-for="AttributeValue" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Thứ tự hiển thị</label>
                        <input type="number" class="form-control" asp-for="DisplayOrder" min="1" />
                        <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                    </div>

                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Lưu dữ liệu
                        </button>
                        <a href="~/Product/Edit/@Model.ProductID" class="btn btn-secondary">
                            <i class="bi bi-x-circle"></i> Hủy và quay lại
                        </a>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </form>
            </div>
        </div>
    </div>
</div>
